<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="solicitudes-eliminacion">
    <section id="solicitudes" class="content-section">
        <div class="solicitudes-container" id="solicitudes-list">

            <!-- Si la lista está vacía -->
            <p th:if="${#lists.isEmpty(solicitudes)}">No hay solicitudes pendientes.</p>

            <!-- Si hay solicitudes -->
            <div th:each="solicitud : ${solicitudes}" class="solicitud-card">

                <div class="solicitud-info">
                    <span><strong>ID Solicitud:</strong> <span th:text="${solicitud.id}"></span></span>
                    <span><strong>ID Hecho:</strong> <span th:text="${solicitud.hecho.id}"></span></span>
                    <span><strong>Nombre:</strong>
                        <!-- <span th:text="${solicitud.nombre}"></span>
                        <span th:text="${solicitud.apellido}"></span>-->
                    </span>
                    <span class="fecha-hora">
                        <strong>Fecha:</strong> <span th:text="${#temporals.format(solicitud.fechaCreacion, 'dd-MM-yyyy')}"></span>
                    </span>
                </div>
                <div class="titulo-hecho">
                    <span class="titulo-text" th:text="${solicitud.hecho.titulo}"></span>
                </div>
                <div class="solicitud-razon">
                    <strong>Razón:</strong>
                    <span th:text="${solicitud.razonDeEliminacion}"></span>
                </div>

                <div class="solicitud-actions-row">
                    <a th:href="@{'/hechos/' + ${solicitud.hecho.id}}" class="btn">
                        Ver Hecho
                    </a>

                    <div class="solicitud-actions">
                        <form th:action="@{/admin/solicitudes/aceptar}" method="post">
                            <input type="hidden" name="hechoId" th:value="${solicitud.hecho.id}" />
                            <input type="hidden" name="idSolicitud" th:value="${solicitud.id}" />
                            <input type="hidden" name="razonDeEliminacion" th:value="${solicitud.razonDeEliminacion}" />
                            <input type="hidden" name="fechaCreacion" th:value="${solicitud.fechaCreacion}" />
                            <input type="hidden" name="idCreador" th:value="${solicitud.idCreador}" />
                            <button type="submit" class="accept">Aceptar</button>
                        </form>
                        <form th:action="@{/admin/solicitudes/rechazar}" method="post">
                            <input type="hidden" name="hechoId" th:value="${solicitud.hecho.id}" />
                            <input type="hidden" name="idSolicitud" th:value="${solicitud.id}" />
                            <input type="hidden" name="razonDeEliminacion" th:value="${solicitud.razonDeEliminacion}" />
                            <input type="hidden" name="fechaCreacion" th:value="${solicitud.fechaCreacion}" />
                            <input type="hidden" name="idCreador" th:value="${solicitud.idCreador}" />
                            <button type="submit" class="reject">Rechazar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>
</html>
