<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="solicitudes-eliminacion">
    <section id="solicitudes" class="content-section">
        <div class="solicitudes-container" id="solicitudes-list">

            <!-- Si la lista está vacía -->
            <p th:if="${#lists.isEmpty(solicitudes)}">No hay solicitudes pendientes.</p>

            <!-- Si hay solicitudes -->
            <div th:each="solicitud : ${solicitudes}" class="solicitud-card">

                <div class="solicitud-info">
                    <span><strong>ID:</strong> <span th:text="${solicitud.id}"></span></span>
                    <span><strong>Nombre:</strong>
                        <!-- <span th:text="${solicitud.nombre}"></span>
                        <span th:text="${solicitud.apellido}"></span>-->
                    </span>
                    <span class="fecha-hora">
                        <strong>Fecha:</strong> <span th:text="${#temporals.format(solicitud.fechaCreacion, 'yyyy-MM-dd')}"></span>
                        <strong>Hora:</strong> <span th:text="${#temporals.format(solicitud.fechaCreacion, 'HH:mm:ss')}"></span>
                    </span>
                </div>

                <div class="solicitud-razon">
                    <strong>Razón:</strong>
                    <span th:text="${solicitud.razonDeEliminacion}"></span>
                </div>

                <div class="solicitud-actions-row">
                    <a th:href="@{'/hechos/' + ${solicitud.hecho.id}}" class="btn">
                        Ver Hecho
                    </a>

                    <div class="solicitud-actions">
                        <form th:action="@{/admin/solicitudes/aceptar}" th:object="${solicitud}" method="post" style="display:inline">
                            <input type="hidden" th:field="*{hecho.id}" />
                            <button type="submit" class="accept">Aceptar</button>
                        </form>
                        <form th:action="@{/admin/solicitudes/rechazar}" th:object="${solicitud}" method="post" style="display:inline">
                            <input type="hidden" th:field="*{hecho.id}" />
                            <button type="submit" class="reject">Rechazar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>
</html>
