<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/base :: html}">

<div th:fragment="contenido">

  <th:block th:fragment="cssExtra">
    <link rel="stylesheet" th:href="@{/css/colecciones/colecciones-details.css}">
  </th:block>

  <section id="collection-detail">
    <div class="explore-layout">

      <!-- Info de la colección -->
      <div class="collection-header">
        <h1 id="collection-title" th:text="${coleccion.titulo}">Nombre de la Colección</h1>
        <p id="collection-description" th:text="${coleccion.descripcion}" >Descripción de la colección...</p>
      </div>

        <!-- Acciones FUERA del link -->
        <div th:if="${rol == 2}" class="card-actions">

            <!-- DESTACAR  -->
            <form th:if="${!coleccion.destacada}"
                  th:action="@{/colecciones/destacar/{handle}(handle=${coleccion.handle})}"
                  method="post"
                  class="inline-form">
                <input type="hidden" name="_method" value="put" />
                <button type="submit" class="btn-action btn-destacar">
                    <i class="fas fa-star"></i>
                    Destacar
                </button>
            </form>

            <!--  QUITAR DESTACADO  -->
            <form th:if="${coleccion.destacada}"
                  th:action="@{/colecciones/destacar/{handle}(handle=${coleccion.handle})}"
                  method="post"
                  class="inline-form">
                <input type="hidden" name="_method" value="delete" />
                <button type="submit" class="btn-action btn-destacar quitar">
                    <i class="fas fa-star-half-alt"></i>
                    Quitar destacado
                </button>
            </form>

            <!-- Editar -->
            <a th:href="@{/colecciones/{handle}/editar(handle=${coleccion.handle})}"
               class="btn-action btn-edit">
                <i class="fas fa-edit"></i>
                 Editar
            </a>

            <!--  Eliminar -->
            <form th:action="@{/colecciones/{handle}(handle=${coleccion.handle})}"
                  method="post"
                  class="inline-form"
                  onsubmit="return confirm('¿Seguro que querés eliminar esta colección?');">
                <input type="hidden" name="_method" value="delete" />
                <button type="submit" class="btn-action btn-delete">
                    <i class="fas fa-trash-alt"></i>
                     Eliminar
                </button>
            </form>



        </div>


        <!-- BOX FILTROS -->
      <aside class="filter-box">
        <h2>Filtros</h2>

        <form th:action="@{/colecciones/{handle}(handle=${coleccion.handle})}" method="get" >

          <!-- Curacion -->
          <div class="filter-group">
            <label for="curado">Visualizacion:</label>
            <select id="curado" name="curado">
              <option value="false" th:selected="${curado == false}"> Irrestricta </option>
              <option value="true" th:selected="${curado == true}"> Curada </option>
            </select>
          </div>

          <!-- Provincia -->
          <div class="filter-group">
            <label for="provincia">Provincia:</label>
            <input type="text" id="provincia" name="provincia" placeholder="Ej: Buenos Aires"
                   th:value="${filtros?.provincia}">
          </div>

          <!-- Categoría -->
          <div class="filter-group">
            <label for="categoria">Categoría:</label>
            <input type="text" id="categoria" name="categoria" placeholder="Ej: Robo, Violencia..."
                   th:value="${filtros?.categoria}">
          </div>

          <!-- Fechas de reporte -->
          <div class="filter-group">
            <label>Fecha de reporte:</label>
            <div class="date-range">
              <input type="date" id="fReporteDesde" name="fReporteDesde" placeholder="Desde"
                     th:value="${#temporals.format(filtros?.fReporteDesde, 'dd-MM-yyyy')}">
              <input type="date" id="fReporteHasta" name="fReporteHasta" placeholder="Hasta"
                     th:value="${#temporals.format(filtros?.fReporteHasta, 'dd-MM-yyyy')}">
            </div>
          </div>

          <!-- Fechas de acontecimiento -->
          <div class="filter-group">
            <label>Fecha del acontecimiento:</label>
            <div class="date-range">
              <input type="date" id="fAconDesde" name="fAconDesde" placeholder="Desde"
                     th:value="${#temporals.format(filtros?.fAconDesde, 'dd-MM-yyyy')}">
              <input type="date" id="fAconHasta" name="fAconHasta" placeholder="Hasta"
                     th:value="${#temporals.format(filtros?.fAconHasta, 'dd-MM-yyyy')}">
            </div>
          </div>

          <!-- Fuente -->
          <div class="filter-group">
            <label for="fuenteId">Fuente:</label>
            <select id="fuenteId" name="fuenteId">
              <option value="">-- Seleccionar fuente --</option>
              <option th:each="fuente : ${coleccion.fuentes}"
                      th:value="${fuente.fuenteId}"
                      th:text="${fuente.nombre}"
                      th:selected="${fuente.fuenteId == filtros.fuenteId}">
              </option>
            </select>
          </div>

          <!-- Etiqueta -->
          <div class="filter-group">
            <label for="etiqueta">Etiqueta:</label>
            <input type="text" id="etiqueta" name="etiqueta" placeholder="Ej: Inseguridad, Tránsito..."
                   th:value="${filtros?.etiqueta}">
          </div>

          <input type="hidden" name="page" value="0"> <!-- Para que se vaya a la primera pagina -->

          <button class="btn-filter" id="btn-apply-filters">Aplicar filtros</button>
        </form>
      </aside>

      <div class="collection-content">

        <!-- CARDS -->
        <div id="hechos-container" class="cards-container">
          <a class="card" th:each="hecho : ${hechos}"
             th:href="@{/hechos/{id}(id=${hecho.id})}"
             th:aria-label="${hecho.titulo}">

            <!-- 1️⃣ Título -->
            <div class="card-title" th:text="${hecho.titulo}">
              Título de ejemplo
            </div>

            <!-- 2️⃣ Descripción -->
            <div class="card-description">
              <p th:text="${#strings.abbreviate(hecho.descripcion, 150)}">
                Descripción de ejemplo
              </p>
            </div>

            <!-- 3️⃣ Datos extra -->
            <div class="card-data">
              <p>
                <strong>📍</strong>
                <span th:text="${hecho.ubicacion != null ? hecho.ubicacion.provincia : '-'}">Ubicación</span>
              </p>
              <p>
                <strong>🏷️</strong>
                <span th:text="${hecho.categoria != null ? hecho.categoria.nombre : '-'}">Categoría</span>
              </p>
              <p>
                <strong>🔖</strong>
                <span th:text="${#lists.isEmpty(hecho.etiquetas) ? '-' : hecho.etiquetas[0].nombre}">Etiqueta</span>
              </p>
              <p>
                <strong>📅</strong>
                <span th:text="${#temporals.format(hecho.fechaDeOcurrencia,'dd-MM-yyyy')}">Fecha</span>
              </p>
              <p>
                <strong>🌐</strong>
                <span th:text="${hecho.fuente.nombre != null ? hecho.fuente.nombre : '-'}">Fuente</span>
              </p>

            </div>

            <!-- 4️⃣ Imagen -->
            <div class="card-img"
                 th:if="${hecho.contenidoMultimedia != null and hecho.contenidoMultimedia.size() > 0}"
                 aria-hidden="true">
              <img th:src="@{/uploads/{file}(file=${hecho.contenidoMultimedia.get(0).ruta})}"
                   th:alt="${hecho.titulo}"/>
            </div>

          </a>

          <div id="pagination-controls" style="display:flex; justify-content:center; align-items:center; gap:12px; margin-top:12px;">

            <!-- Botón Anterior -->
            <a class="pagination-arrow"
               th:classappend="${paginaActual == 0} ? ' disabled' : ''"
               th:onclick="${paginaActual == 0} ? 'return false;' : ''"
               th:href="@{/colecciones/{handle}(
                        handle=${coleccion.handle},
                        page=${paginaActual - 1},
                        provincia=${filtros.provincia},
                        categoria=${filtros.categoria},
                        fReporteDesde=${#temporals.format(filtros.fReporteDesde,'yyyy-MM-dd')},
                        fReporteHasta=${#temporals.format(filtros.fReporteHasta,'yyyy-MM-dd')},
                        fAconDesde=${#temporals.format(filtros.fAconDesde,'yyyy-MM-dd')},
                        fAconHasta=${#temporals.format(filtros.fAconHasta,'yyyy-MM-dd')},
                        fuenteId=${filtros.fuenteId},
                        etiqueta=${filtros.etiqueta},
                        curado=${curado}
                    )}">
              ◀
            </a>

            <!-- Número de página actual -->
            <div class="pagination-page-number" th:text="${paginaActual+1}"> Numero Pagina </div>

            <!-- Botón Siguiente -->
            <a class="pagination-arrow"
               th:classappend="${hechos.size() < 20} ? ' disabled' : ''"
               th:onclick="${hechos.size() < 20} ? 'return false;' : ''"
               th:href="@{/colecciones/{handle}(
                        handle=${coleccion.handle},
                        page=${paginaActual + 1},
                        provincia=${filtros.provincia},
                        categoria=${filtros.categoria},
                        fReporteDesde=${#temporals.format(filtros.fReporteDesde,'yyyy-MM-dd')},
                        fReporteHasta=${#temporals.format(filtros.fReporteHasta,'yyyy-MM-dd')},
                        fAconDesde=${#temporals.format(filtros.fAconDesde,'yyyy-MM-dd')},
                        fAconHasta=${#temporals.format(filtros.fAconHasta,'yyyy-MM-dd')},
                        fuenteId=${filtros.fuenteId},
                        etiqueta=${filtros.etiqueta},
                        curado=${curado}
                    )}">
              ▶
            </a>

          </div>

        </div>


      </div>

    </div>
  </section>


</div>

<th:block th:fragment="jsExtra">
</th:block>

</html>